<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="test" type="IgorSoft.CloudFS.GatewayTests.Config.TestSection, IgorSoft.CloudFS.GatewayTests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <test libPath=".\Gateways">
    <gateways>
      <gateway schema="box" type="Async" userName="BoxUser" root="B" exclusions="None" />
      <gateway schema="copy" type="Async" userName="CopyUser" root="Y" exclusions="CopyDirectoryItem,CopyFileItem,MoveDirectoryItem,MoveFileItem,RenameDirectoryItem,RenameFileItem" />
      <gateway schema="file" type="Sync" root="..\..\..\TestData" />
      <gateway schema="gdrive" type="Async" userName="GDriveUser" root="G" exclusions="CopyDirectoryItem" />
      <gateway schema="mega" type="Sync" userName="MegaUser" root="M" exclusions="GetDrive,ClearContent,SetContent,CopyDirectoryItem,CopyFileItem,RenameDirectoryItem,RenameFileItem" />
      <gateway schema="onedrive" type="Async" userName="OneDriveUser" root="O" exclusions="ClearContent" />
      <gateway schema="pcloud" type="Async" userName="pCloudUser" root="P" exclusions="CopyDirectoryItem" />
    </gateways>
  </test>
</configuration>
