<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="test" type="IgorSoft.CloudFS.GatewayTests.Config.TestSection, IgorSoft.CloudFS.GatewayTests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=1f35af1d8b0c0a75" xdt:Transform="SetAttributes(type)" xdt:Locator="Match(name)" />
  </configSections>
  <test libPath=".\Gateways">
    <gateways>
      <gateway schema="box" type="Async" userName="BoxUser" mount="B" exclusions="None" />
      <gateway schema="copy" type="Async" userName="CopyUser" mount="Y" exclusions="CopyDirectoryItem,CopyFileItem,MoveDirectoryItem,MoveFileItem,RenameDirectoryItem,RenameFileItem" />
      <gateway schema="file" type="Sync" mount="F" parameters="root=..\..\..\TestData" />
      <gateway schema="gdrive" type="Async" userName="GDriveUser" mount="G" exclusions="CopyDirectoryItem" />
      <gateway schema="mega" type="Sync" userName="MegaUser" mount="M" exclusions="GetDrive,ClearContent,SetContent,CopyDirectoryItem,CopyFileItem,RenameDirectoryItem,RenameFileItem" />
      <gateway schema="onedrive" type="Async" userName="OneDriveUser" mount="O" exclusions="ClearContent" />
      <gateway schema="pcloud" type="Async" userName="pCloudUser" mount="P" exclusions="CopyDirectoryItem" />
    </gateways>
  </test>
</configuration>