<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="gatewaySection" type="IgorSoft.CloudFS.GatewayTests.ConfigManager+GatewayConfigSection, IgorSoft.CloudFS.GatewayTests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=1f35af1d8b0c0a75" xdt:Transform="SetAttributes(type)" xdt:Locator="Match(name)" />
  </configSections>
</configuration>