<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="gatewaySection" type="IgorSoft.CloudFS.GatewayTests.ConfigManager+GatewayConfigSection, IgorSoft.CloudFS.GatewayTests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <gatewaySection>
    <asyncGateways>
      <AsyncGateway schema="box" userName="BoxUser" root="B" exclusions="None" />
      <AsyncGateway schema="copy" userName="CopyUser" root="Y" exclusions="CopyDirectoryItem,CopyFileItem,MoveDirectoryItem,MoveFileItem,RenameDirectoryItem,RenameFileItem" />
      <AsyncGateway schema="gdrive" userName="GDriveUser" root="G" exclusions="CopyDirectoryItem" />
      <AsyncGateway schema="onedrive" userName="OneDriveUser" root="O" exclusions="ClearContent" />
      <AsyncGateway schema="pcloud" userName="pCloudUser" root="P" exclusions="CopyDirectoryItem" />
    </asyncGateways>
    <gateways>
      <Gateway schema="file" root="..\..\..\TestData" />
      <Gateway schema="mega" userName="MegaUser" root="M" exclusions="GetDrive,ClearContent,SetContent,CopyDirectoryItem,CopyFileItem,RenameDirectoryItem,RenameFileItem" />
    </gateways>
  </gatewaySection>
</configuration>
