<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="test" type="IgorSoft.CloudFS.GatewayTests.Config.TestSection, IgorSoft.CloudFS.GatewayTests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <test libPath=".\Gateways">
    <gateways>
      <gateway schema="box" type="Async" userName="BoxUser" mount="B" exclusions="None" />
      <gateway schema="copy" type="Async" userName="CopyUser" mount="Y" exclusions="CopyDirectoryItem,CopyFileItem,MoveDirectoryItem,MoveFileItem,RenameDirectoryItem,RenameFileItem" />
      <gateway schema="file" type="Sync" mount="F" parameters="root=..\..\..\TestData" exclusions="ItemId" />
      <gateway schema="gdrive" type="Async" userName="GDriveUser" mount="G" exclusions="CopyDirectoryItem" />
      <gateway schema="hubic" type="Async" userName="hubiCUser" mount="H" parameters="container=default" exclusions="CopyDirectoryItem,MoveDirectoryItem,MoveFileItem,RenameDirectoryItem,RenameFileItem,ItemId" />
      <gateway schema="mediafire" type="Async" userName="MediaFireUser" mount="M" exclusions="ClearContent,CopyDirectoryItem" />
      <gateway schema="mega" type="Async" userName="MegaUser" mount="N" exclusions="ClearContent,SetContent,CopyDirectoryItem,CopyFileItem,RenameDirectoryItem,RenameFileItem" />
      <gateway schema="onedrive" type="Async" userName="OneDriveUser" mount="O" exclusions="ClearContent" />
      <gateway schema="pcloud" type="Async" userName="pCloudUser" mount="P" exclusions="CopyDirectoryItem" />
      <gateway schema="yandex" type="Async" userName="YandexUser" mount="X" exclusions="ItemId" />
    </gateways>
  </test>
</configuration>
