<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net461" />
  <package id="Google.Api.Gax" version="1.0.0-beta12" targetFramework="net461" />
  <package id="Google.Api.Gax.Rest" version="1.0.0-beta12" targetFramework="net461" />
  <package id="Google.Apis" version="1.21.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.21.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.21.0" targetFramework="net461" />
  <package id="Google.Apis.Storage.v1" version="1.21.0.785" targetFramework="net461" />
  <package id="Google.Cloud.Storage.V1" version="1.0.0-beta08" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Polly-Signed" version="5.0.6" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net461" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net461" />
</packages>